
            <p
              style="font-size:14px;line-height:24px;margin-bottom:38px;margin-top:12px;color:#ababab;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;margin:24px 0">
            </p>
            <img
              alt="Logo"
              height="32"
              src="{{site_logo}}"
              style="display:block;outline:none;border:none;text-decoration:none"/>
             <p style="font-family:{{ wp__preset__font_family__content }};font-size:12px;line-height:24px;margin:16px 0;text-align:center;color:rgb(0,0,0, 0.7)">
                    {% if footer %}
                        {{ footer | raw }} 
                        <br /> 
                    {% endif %}
                    {{site_name}} - {{ year }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>